@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./calendar.css";

@font-face {
  font-family: "MS Sans Serif";
  src: url("./assets/fonts/MS-Sans-Serif.ttf");
}

@font-face {
  font-family: "Digital";
  src: url("./assets/fonts/CursedTimerUlil-Aznm.ttf");
}

* {
  box-sizing: border-box;
}

/* Reusable Classes */

.clickable-button {
  @apply shadow-windowInactive active:shadow-windowPressed px-2 py-1;
}

/* End Reusable Classes */

.writing-vertical {
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
}

.border-divider {
  border-image: linear-gradient(to bottom, #fff 50%, #808080 50.0001%) 1 100%;
}
